table, tr, th, td{
    border: solid 1px dimgrey;
    text-align: center;
    padding: 10px;


}

table:hover, tr:hover, th:hover, td:hover{
    border: solid 7px green;
    text-align: center;
    padding: 10px;
  


}

